@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.woff2') format('woff2'),
        url('Roboto/Roboto-Regular.woff') format('woff');
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Medium.woff2') format('woff2'),
        url('Roboto/Roboto-Medium.woff') format('woff');
    font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('Roboto/Roboto-SemiBold.woff') format('woff');
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Bold.woff2') format('woff2'),
        url('Roboto/Roboto-Bold.woff') format('woff');
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Black.woff2') format('woff2'),
        url('Roboto/Roboto-Black.woff') format('woff');
    font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

