.topbar {
    background-color: #8aa104;
}
.topbar-innr {
    padding: 15px 0;
}
.topbar-innr p {    
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.header {
    padding: 20px;
}
.header-wrap {
    background: #FDFDFD;
    border: 1px solid #EFEFEF;
    border-radius: 32px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
    -ms-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
    padding: 25px 3.4% 25px;
}
.header-innr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hdr-lft {
    padding-right: 10px;
}
.logo a {
    max-width: 240px;
    display: inline-block;
}
.hdr-rgt {
    margin-left: auto;
}
.hdr-rgt-innr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hdr-menu-cntlr {
    padding-right: 24px;
    margin-right: 24px;
    position: relative;
}
.hdr-menu-cntlr::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    z-index: 3;
    width: 2px;
    height: 67px;
    background-color: #EFEFEF;
}
nav.main-nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -12px;
    justify-content: flex-end;
}
nav.main-nav ul li {
    padding: 0 12px;
    position: relative;
}
.hdr-top-menu nav.main-nav ul {
    margin: 0 8px;
    justify-content: flex-end;
}